/* Your styles here */
body {
  max-width: 1920px;
  color: #393d41;
  font-size: 1.2rem;
  font-family: "Open Sans", sans-serif;
  line-height: 1.65;
  margin: 0;
  padding: 0;
}

h1 {
  color: #25a2c3;
  font-family: "Montserrat", sans-serif;
  line-height: 1.5;
  font-size: 2.3em;
  text-align: center;
}

/* CSS instructions for the header */

header {
  background-color: black;
  width: auto;
  height: 120px;
}

header > img {
  width: 180px;
  padding-top: 30px;
  padding-bottom: 38px;
  padding-left: 50px;
}

/* CSS instructions for the first section of the main */

.s_one {
  background-image: url(../images/banner.jpg);
  height: 680px;
  background-size: cover;
  background-position: top;
}

.s_one > h1 {
  line-height: 40px;
  padding-top: 200px;
}

.s_one > p {
  padding-top: 40px;
  text-align: center;
  font-size: 1.2em;
}

button {
  background-color: #f04c2f;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  color: white;
  font-size: 0.8em;
  width: 160px;
  height: 55px;

  display: block;
  margin: 40px auto;
  border: none;
  border-radius: 8px;
}

/* CSS instructions for the second section of the main */

.s_two {
  width: 100%;
  height: 800px;
  background-color: white;
}

#image {
  display: inline-block;
  width: 500px;
  margin: 150px 237px;
}

#image > img {
  border-radius: 250px;
}

#par_container {
  display: inline-block;
  width: 700px;
  margin-top: 70px;
  padding-top: 20px;
}

#par_container > h2 {
  color: #25a2c3;
  font-family: "Montserrat", sans-serif;
  line-height: 1.5;
  font-size: 1.3em;
}

.par_p {
  font-size: 1.1em;
  padding-bottom: 30px;
}

/* CSS instructions for the third section of the main */

.s_three {
  background-color: #f04c2f;
  color: white;
  height: 500px;
}

.s_three > h1 {
  color: white;
  padding: 35px 20px;
  font-size: 2.2em;
  padding-top: 150px;
}

.s_three > p {
  padding: 0 20px;
  font-size: 1.2em;
  text-align: center;
}

em {
  font-weight: 300;
  font-style: italic;
}

#cred {
  padding: 30px 0;
  text-align: center;
}

#p_1 {
  font-size: 1.2em;
}

#p_2 {
  font-size: 0.8em;
}

/* CSS instructions for the fourth part of the main corp */

.s_four {
  width: 100%;
  background-color: white;
  padding: 130px 0;
  display: inline-block;
  text-align: center;
}

.box {
  width: 450px;
  height: auto;
  margin: auto;
  border: 1px solid lightgray;
  display: inline-block;
  margin: 0 50px;
}

.img {
  width: 450px;
  height: 300px;
  margin: auto;
}

.img.i_one {
  background-image: url(../images/foto1.jpg);
  background-size: cover;
}

.img.i_two {
  background-image: url(../images/foto2.jpg);
  background-size: cover;
}

.img.i_three {
  background-image: url(../images/foto3.jpg);
}

.text {
  width: 450px;
  margin: auto;
  margin-bottom: 30px;
}

.text > h3 {
  color: #25a2c3;
  font-size: 1em;
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
  padding-top: 20px;
  padding-bottom: 5px;
  text-align: center;
}

.text > p {
  padding: 0 25px;
}

/* CSS instructions for the footer */

footer {
  color: #c8e7f0;
  background-color: #25a2c3;
  width: 100%;
}

footer > h1 {
  color: white;
  padding-top: 50px;
  padding-bottom: 15px;
  text-align: center;
}

#contacts {
  width: 360px;
  margin: auto;
}

.contact {
  padding-left: 60px;
  text-align: left;
}

#hr {
  margin: 35px auto;
  width: 350px;
}

footer a {
  color: #c8e7f0;
}

.contact:last-of-type {
  padding-bottom: 60px;
}
